<% layout('layouts/boilerplate') %>

<div class="row mt-3">     
  <h1 class="col-6 offset-3">SignUp on SaharaStay</h1>
<div class="col-6 offset-3">    

<form method="post" action="/signup"  class="needs-validation" novalidate> 


    <!-- *Username -->

    <div class="mb-3">

        <label for="username" class="form-label">Username</label>
       
        <input 
        id="username"  
        type="text" 
        name="username" 
        
        class="form-control"    
        required >  <!--* FORM VALIDATION required ensure karega ki input mai jab tak value nhi aata form submit nhi hoga  and red color mai kuch dega  -->
       
<div class="valid-feedback">looks good </div>     <!-- *success() wala hai becaue valid-feedback lia hai invalid-feedback leta to wo glt wala hota  -->      <!-- * it is form validation ka second part server side validation   now aab agr aap new rout pai title mai kuch value daloge and submit karoge to wo dega title looks good  -->
 

</div>

<!-- *Email  -->

<div class="mb-3">

    <label for="email" class="form-label">Email</label>
   
    <input 
    id="email"  
    type="email"  
    name="email" 
   
    class="form-control"    
    required >  <!--* FORM VALIDATION required ensure karega ki input mai jab tak value nhi aata form submit nhi hoga  and red color mai kuch dega  -->

</div>


<!-- *Password -->

<div class="mb-3">

    <label for="password" class="form-label">Password</label>
   
    <input 
    id="password"  
    type="password"  
    name="password" 
   
    class="form-control"    
    required >  <!--* FORM VALIDATION required ensure karega ki input mai jab tak value nhi aata form submit nhi hoga  and red color mai kuch dega  -->

</div>

<button class="btn btn-success">SignUp</button>

</form>


    </div>
    </div>


